.container{
	display:flex;
	flex-direction:column;
}

.btn-primary{
	background-color:blue;
	color:white;
}
.card-deck{
	background-color:red;
	color:white;
	padding:10px;
	margin:5px;
	
}
/* Your CSS Code here. */